/* General page styling */
body {
    
    background-color: rgb(232, 152, 169);
    text-align: center;
    padding: 40px;
    margin: 0;
}

/* Heading styling */
h1 {
    color: #130303;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Button styling */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Joke display paragraph */
#jokeDisplay {
    margin-top: 30px;
    font-size: 20px;
   
    color:black;
    border-radius: 8px;
    max-width: 600px;
    background-color: aquamarine;
    margin-left: auto;
    font-family:Arial, Helvetica, sans-serif;
    margin-right: auto;
    line-height: 1.5;
}
