/* Carousel container */
*{
background-color:aquamarine;
}
#carousel {
    width: 500px;
    height: 500px;
    margin-top: 100px;
    margin-left: 500px;
    overflow: hidden;
    position: relative;
    justify-content: center;
    
}
h1{
    margin-left:100px;
}

/* Hide all images by default */
#carousel img {
    width: 100%;
    display: none;
    border-radius: 5px;
}

/* Show only the active slide */
#carousel img.active {
    display: block;
}

/* Button spacing */
.btn1 {
    margin-top: 10px;
    margin-left:40px;
    background-color: rgb(79, 79, 233);
    color: white;
    border-radius: 5px;
    padding:10px;
    border-style: none;
    width: 100px;

   
}
.btn2 {
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgb(79, 79, 233);
    color: white;
    border-radius: 5px;
    padding:10px;
    border-style: none;
    width: 100px;
}
    
